* {
    box-sizing: border-box;
}
html {
    background-color: lightblue;
}

img {
    max-width: 100%;
    height: auto;
}
@media (min-width: 1281px) {
    body {
        width: 600px;
        margin: 0 auto;
        background-color: #00ffff;
        padding: 0 20px 20px 20px;
        border: 5px solid #660066;
    }
    .head-text {
        text-align: center;
        color: #333399;
        text-shadow: 2px 2px white;
        font-family: 'League Gothic', sans-serif;
    }
    .head-image {
        display: block;
        margin: 0 auto;
    }


    figure {
        text-align: center;
        margin: 1rem auto;
    }

    .popular {
        border: 4px dotted red;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        width: 600px;
        margin: 0 auto;
        background-color: #00ffff;
        padding: 0 20px 20px 20px;
        border: 5px solid #660066;
    }
    .head-text {
        text-align: center;
        color: #333399;
        text-shadow: 2px 2px white;
        font-family: 'League Gothic', sans-serif;
    }
    .head-image {
        display: block;
        margin: 0 auto;
    }


    figure {
        text-align: center;
        margin: 1rem auto;
    }

    .popular {
        border: 4px dotted red;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
  
    /* ipad */
    body {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: #00ffff;
        padding: 0 20px 20px 20px;
        border: 5px solid #660066;
        font-size: 3em;
    }
    .head-text {
        text-align: center;
        color: #333399;
        text-shadow: 2px 2px white;
        font-family: 'League Gothic', sans-serif;
    }
    .head-image {
        display: block;
        margin: 0 auto;
    }


    figure {
        text-align: center;
        margin: 1rem auto;
    }

    .popular {
        border: 4px dotted red;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    /* ipad landscape */
    body {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: #00ffff;
        padding: 0 20px 20px 20px;
        border: 5px solid #660066;
        font-size: 3em;
    }
    .head-text {
        text-align: center;
        color: #333399;
        text-shadow: 2px 2px white;
        font-family: 'League Gothic', sans-serif;
    }
    .head-image {
        display: block;
        margin: 0 auto;
    }


    figure {
        text-align: center;
        margin: 1rem auto;
    }

    .popular {
        border: 4px dotted red;
    }
    
  }

  @media (min-width: 320px) and (max-width: 480px) {
  
    /* iphon */
    body {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: #00ffff;
        padding: 0 20px 20px 20px;
        border: 5px solid #660066;
        font-size: 1.5em;
    }
    .head-text {
        text-align: center;
        color: #333399;
        text-shadow: 2px 2px white;
        font-family: 'League Gothic', sans-serif;
    }
    .head-image {
        display: block;
        margin: 0 auto;
    }


    figure {
        text-align: center;
        margin: 1rem auto;
    }

    .popular {
        border: 4px dotted red;
    }
    
  }

  @media (min-width: 481px) and (max-width: 767px) {
  
    /* iphon landscape */
    body {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: #00ffff;
        padding: 0 20px 20px 20px;
        border: 5px solid #660066;
        font-size: 1.5em;
    }
    .head-text {
        text-align: center;
        color: #333399;
        text-shadow: 2px 2px white;
        font-family: 'League Gothic', sans-serif;
    }
    .head-image {
        display: block;
        margin: 0 auto;
    }


    figure {
        text-align: center;
        margin: 1rem auto;
    }

    .popular {
        border: 4px dotted red;
    }
    
  }